@use '../../../variables';

@keyframes appear-from-right {
  to {
    right: 0;
  }
}

@keyframes disappear-to-right {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

.container {
  display: flex;
  flex-direction: row-reverse;

  position: fixed;
  right: -100%;

  height: 100%;

  // see explanation in GoalBoard.tsx ContainerClass Enum
  &-collapsed {
    @extend .container;
    animation: disappear-to-right 0.5s ease-in forwards;
  }

  &-expanded {
    @extend .container;
    animation: appear-from-right 0.3s ease forwards;
  }

  &-expand-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    background: none;

    height: fit-content;
    width: fit-content;

    &>img {
      height: 2rem;
    }
  }
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Orbitron";
  align-self: center;
  row-gap: 2px;
  width: 33dvw;
}

.board-row {
  column-gap: 2px;
  display: flex;
}

.board-tile {
  border: 2px solid;
  display: flex;
  font-size: 1.5rem;
  height: 75px;
  justify-content: center;
  width: 75px;
}

.board-title {
  font-size: 1.5rem;
  margin: 1rem;
}
