@use "../../../variables";

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.controls {
  display: flex;
  gap: 1rem;
  width: 100%;

  animation: appear 1s ease-in forwards;

  &-button {
    border: none;
    flex: 1;

    &>img {
      height: 1rem;
    }

    &:hover {
      filter: brightness(80%);
    }

    &-red {
      @extend .controls-button;
      background: red;
    }

    &-green {
      @extend .controls-button;
      background: lightgreen;
      color: white;
      transition: color 0.3s ease-in;
    }
  }

  &-hidden {
    visibility: hidden;
  }
}

.counter {
  font-family: "Orbitron";
  font-size: 2rem;
}

.puzzle-details {
  display: flex;

  .reset-btn {
    background: white;
    color: red;
    margin: auto 0;
    padding-right: 15px;
    padding-left: 15px;

    &:hover {
      border-color: white;
      background: red;
      color: white;
    }
  }
}

.main {
  align-items: center;
  display: flex;
  margin: auto;

  height: 100dvh;
  width: fit-content;
}

.subtext {
  font-size: 1rem;
  font-style: italic;
  margin-right: auto;
}
