@use "../../../variables";

$hover-bg: grey;
$win-bg: #30d148;

.tile {
  border: 2px solid black;

  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 2rem;
  }
}

/* not(.tile-win) is there so that tile does not have hover effect when goal state is met 
 to emphasize to the user that board is frozen when win condition is met. */
@media not all and (hover: none) {
  .tile:not(.tile-win):hover {
    background: $hover-bg;
    cursor: pointer;
  }
}

@media (hover: none) {
  .tile:not(.tile-win):active {
    background: $hover-bg;
  }
}

.tile-win {
  background: $win-bg;

  transition: background 0.5s ease-in 1.2s; // bg-color is last to change.
}
