@import "../../../variables";

$hover-bg: grey;
$win-bg: #30d148;

.tile {
  border: 2px solid black;
  margin: 10px 0px 0px 10px;

  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 2rem;
  }
}

/* not(.tile-win) is there so that tile does not have hover effect when goal state is met 
 to emphasize to the user that board is frozen when win condition is met. */
.tile:not(.tile-win):hover {
  background: $hover-bg;
  cursor: pointer;
}

.tile-win {
  background: $win-bg;

  margin-top: 2px;
  margin-left: 2px;

  transition: margin-top 0.5s ease-in 0.5s, // margin shrinks vertically first. delayed by 0.5s.
    margin-left 0.5s ease-in 1s, // margin then shrinks horizontally. delayed by 1s to wait for vertical shrink.
    background 0.5s ease-in 1.5s; // bg-color is last to change.
}
